@import '~bootstrap-select/sass/bootstrap-select';
@import '~bootstrap-material-design/scss/bootstrap-material-design';

body {
    height: auto;
}

.card {
    margin-top: 16px;
    margin-bottom: 16px;
}

.card-body {
    overflow: auto;
}

.form-control:focus {
    box-shadow: none;
}

.filter-option-inner-inner {
    color: $gray-700;
}
