@import '~bootstrap-select/sass/bootstrap-select';
@import '~bootstrap-material-design/scss/bootstrap-material-design';

body {
    height: auto;
    min-height: 100vh;
}

.bmd-layout-canvas {
    min-height: 100vh;
}

.card {
    margin-top: 16px;
    margin-bottom: 16px;
}

.card-body {
    overflow: auto;
}

.form-control:focus {
    box-shadow: none;
}

.filter-option-inner-inner {
    color: $gray-700;
}

.drawer-item {
    color: #212529;
}

.drawer-item:hover {
    text-decoration: none;
    background-color: #f8f9fa;
    color: #16181b;
}

.dropdown-menu .dropdown-item {
    max-width: none;
}

iframe {
    border: none;
    min-height: 300px;
    width: 100%;
}
