@import '~bootstrap-select/sass/bootstrap-select';
@import '~bootstrap-material-design/scss/bootstrap-material-design';

body {
    height: auto;
    min-height: 100vh;
}

.bmd-layout-canvas {
    min-height: 100vh;
}

.card {
    margin-top: 16px;
    margin-bottom: 16px;
}

.card-body {
    overflow: auto;
}

.form-control:focus {
    box-shadow: none;
}

.filter-option-inner-inner {
    color: $gray-700;
}

.drawer-item {
    color: #212529;
}

.drawer-item:hover {
    text-decoration: none;
    background-color: #f8f9fa;
    color: #16181b;
}

.dropdown-menu .dropdown-item {
    max-width: none;
}

iframe {
    border: none;
    min-height: 300px;
    width: 100%;
}

th:first-child, td:first-child {
    position: sticky;
    left: 0px;
}

th:first-child {
    background-color: #ffffff;
}

.table-striped tbody td:first-child {
    background-color: #ffffff;
}

.table-striped tbody tr:nth-of-type(2n+1) td:first-child {
    background-color: #f2f2f2;
}

.table-striped tbody tr:hover td:first-child {
    background-color: #ececec;
}
