apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonAnnotations:
  app.gitlab.com/app: ${CI_PROJECT_PATH_SLUG}
  app.gitlab.com/env: ${CI_ENVIRONMENT_SLUG}
commonLabels:
  app: ${CI_PROJECT_NAME}
images:
  - name: registry.eglo.ga/placeholder
    newName: ${CI_REGISTRY_IMAGE}/nginx
    newTag: "${CI_PIPELINE_ID}"
  - name: registry.eglo.ga/placeholder2
    newName: ${CI_REGISTRY_IMAGE}/fpm
    newTag: "${CI_PIPELINE_ID}"
  - name: registry.eglo.ga/placeholder3
    newName: ${CI_REGISTRY_IMAGE}/mariadb
    newTag: "${CI_PIPELINE_ID}"
generatorOptions:
  disableNameSuffixHash: true
secretGenerator:
  - name: ceph
    files:
      - key=${CEPH_KEY}
configMapGenerator:
  - name: configs
    files:
      - .env=${PROD_ENV}
      - .env.updater=${UPDATER_ENV}
      - grafana.ini=${GRAFANA_INI}
resources:
  - deployment.yml
  - cronjob.yml
